@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-bungee: 'Bungee', cursive;
    --font-krona: 'Krona One', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./fondo.jpg");
    background-color: #F9FAFB;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 50px;
    border: 1px solid white;
    width: 900px;
    height: 500px;
    padding: 100px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
}

.main__informacion {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main__informacion__titulo {
    color: #2563EB;
    font-family: var(--font-bungee);
    font-size: 36px;
}

.main__informacion__subtitulo {
    color: #1F2937;
    font-family: var(--font-krona), sans-serif;
    font-size: 28px;
}

.main__informacion__parrafo {
    color: #4B5563;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: justify;
    width: 600px;
}

.main__enlaces {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: #1F2937;
    width: 200px;

    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #7C3AED;
    padding: 15px;
}

.main__enlaces__icono__siguiente {
    width: 20px;
}

.main__enlaces__link:hover {
    background-color: #7C3AED;
    filter: brightness(90%);
    transition: 0.3s;
}

.curriculum {
    background-color: #2563EB;
}