@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fuente-bungee: 'Bungee';
    --fuente-krona: 'Krona One';
    --fuente-montserrat: 'Montserrat';

    --color-primary: #2563EB;   /* Azul eléctrico - Títulos, botones principales */
    --color-secondary: #7C3AED; /* Morado vibrante - Acentos, hover, links */
    --color-tercero: #1F2937; /* Gris oscuro - Texto secundario */;
    --color-background: #F9FAFB;/* Gris muy claro - Fondo principal */
    --color-surface: #FFFFFF;   /* Blanco - Tarjetas, secciones alternas */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo.jpg");
    background-color: var(--color-background);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 50px;
    border: 1px solid white;
    width: 80%;
    max-width: 1200px;
    height: auto;
    padding: 50px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
}

.main__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main__informacion__titulo {
    color: #2563EB;
    font-family: var(--fuente-bungee);
    font-size: 36px;
}

.main__informacion__subtitulo {
    color: #1F2937;
    font-family: var(--fuente-krona);
    font-size: 28px;
}

.main__informacion__parrafo {
    color: #4B5563;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 24px;
    text-align: justify;
    width: 100%;
}

.main__enlaces {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main__enlaces__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    color: #1F2937;
    width: 250px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #7C3AED;
    padding: 15px;
}

.main__enlaces__icono__siguiente {
    width: 20px;
}

.main__enlaces__link:hover {
    background-color: #7C3AED;
    filter: brightness(90%);
    transition: 0.3s;
}

.curriculum {
    background-color: #2563EB;
}

@media (max-width: 600px) {
    .main {
        width: 98%;
        padding: 20px;
        margin: 15px;
        height: auto;
        border-radius: 20px;
        gap: 25px;
    }
    .main__informacion__parrafo {
        width: 100%;
        font-size: 16px;
    }
    .main__informacion__titulo {
        font-size: 24px;
    }
    .main__informacion__subtitulo {
        font-size: 18px;
    }

    .main__enlaces {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .main__enlaces__link {
        width: 80%;
        padding: 10px;
        font-size: 14px;
    }
}